.coinDetails{
    background-color: rgb(195, 195, 241);
    width: 320px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.coinDetails h2{
    font-size: 25px;
}

.homeLink {
    font-size: 15px bold;
    color: rgb(42, 39, 145);
    margin-left: 140px;
}

.favoritesLink{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px bold;
    color: rgb(42, 39, 145);
    margin-left: 160px;
}

.favoritesButton{
    display: flex;
    margin-top: 20px;
    font-size: 15px bold;
    color: rgb(20, 18, 67);
    margin-left: 130px;
    background-color: rgb(190, 130, 214);
    border-radius: 10px;
}